    <footer class="footer">
        <div class="container">
            <span class="text-muted">created and maintained by karol buczek, hayley hartman, alex perry, and eric
                tolliver</span>
        </div>
    </footer>