<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LevelUp</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/profile.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/style.css"> --}}
</head>

<body>
    {{{ body }}}
    <div class="col-12 bg-light py-2 fixed-bottom">
        <footer class="footer text-center">
            <span class="text-muted">created and maintained by karol buczek, hayley hartman, alex perry, and eric
                tolliver</span>
        </footer>
    </div>
</body>

</html>