{{> header }}
<div class="container">
<div class="col-md-6 mx-auto">
    
<h1 class="text-center">{{title}}</h1>

<div class="col mx-1 my-1">        
    <a href="/"><button class="col-12 btn btn-danger btn-lg btn-block my-1">LOGOUT</button></a>
</div>
</div>
</div>

{{> footer-end }}