{{> header }}
<div class="container">
<div class="col-md-6 mx-auto">
    
<h1 class="text-center">{{title}}</h1>

<div class="col mx-1 my-1">
    <hr style="width:75%">
    <a href="/login"><button class="col-12 btn btn-primary btn-lg btn-block my-1">LOGIN</button></a>
    <a href="/register"><button class="col-12 btn btn-secondary btn-lg btn-block my-1">NOT A USER? REGISTER HERE</button></a>
</div>
</div>
</div>

{{> footer-end }}