<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <span><img src="sq-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></span>
        LevelUP
    </a>
</nav>
<div class="container align-middle">
    <div class="jumbotron text-center">
        <h1 class="my-5">Welcome to LevelUp!</h1>
        <a href="/login" class="btn btn-lg btn-success text-center">Login</a>
        <a href="/signup" class="btn btn-lg btn-info text-center">Register</a>
    </div>
</div>